<footer>
  <div class="container">
    <div class="text-center">
      <img class="footer-img rounded" src="../../assets/imgs/footer.png">
      <div class="footer-social">
        <a href="#">
          <fa [name]="'facebook'" [size]=1></fa>
        </a>

        <a href="#">
          <fa [name]="'twitter'" [size]=1></fa>
        </a>

        <a href="#">
          <fa [name]="'youtube-play'" [size]=1></fa>
        </a>
        <a href="#">
          <fa [name]="'instagram'" [size]=1></fa>
        </a>
      </div>
      <p>&#169;2016 All Right Reserved</p>
    </div>
  </div>
</footer>
